<div class="row justify-content-center">
  <div class="col-md-1">
    <div style="text-align:right;">
    <p><strong><span class="val1_legend">&#8226;</span>{{ val1 | uppercase }}</strong></p>
    <p><strong><span class="val2_legend">&#8226;</span>{{ val2 | uppercase }}</strong></p>
  </div>
  </div>
  <div class="col-md-10">
    <div style="text-align:center;">
    <svg class="graph_svg" id="{{uniqueId}}"></svg>
    <br/>
    <p><strong>{{ headVal | uppercase }}</strong></p>
    </div>
  </div>
</div>
